.body{
    background-image: url(../../assests/images/leaves.png)
    /* background: rgb(251, 251, 251); */
}

.card{
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;
}

.chart{
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;
    width: 800px;
}

footer{

    background:rgb(255,175,140);
    border-top: 1rem solid rgb(203,245,158);
    margin-top: 3rem;
    height: 4rem;
}