.navbar{
    height: 5rem;
    background-color: peachpuff;
    box-shadow: 3px 3px gray;
    
}

.brand{
    color: whitesmoke;
    font-size: 48px;
    font-family: 'Rubik Mono One', sans-serif;
}
.brand{
    text-shadow:
	    -1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}
    
   

.nav-items{
    font-size: 24px;
    padding: 15px;
    margin-right: 5px;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
}
.nav-items{
    text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;
}

.nav-items:hover{
    padding: 15px;
    box-shadow: 2px 3px darkgray;
    color: white;
    animation: glow 2s infinite alternate;
    font-family: 'Rubik Mono One', sans-serif;
}
@keyframes glow{
    from{
        box-shadow: 0 0 5px -5px ;
    }
    to{
        box-shadow: 0 0 5px 5px ;
    }
}