.body{
    background-image: url(../../assests/images/leaves.png)
    /* background: rgb(251, 251, 251); */
}

.chart{
    position: relative;
    left: 0;
    right: 0;
    width: 40rem;
}

.card-body{
    
}