.content-container{
    border: 1px solid black;
    height: 980px;
}
.userImg{
    background: gray;
    border: 1px solid black;
}

.individual{
    margin: 0;
    width: fit-content;
    border: 1px solid black;
}

.profilePic{
    background: gray;
    width: 200px;
    height: 200px;
    float: left;
} 

.userName, .date-joined, .userQuote{
    float: left;
    clear: both;

}

.current-stats{
    height: fit-content;
    width: fit-content;
    margin: 0;
    border: 1px solid black;
}


#curentW , #goalW, #startW, #weightDiff{
    display: block;

}

.current-stats-col div{
    border: 1px solid black;
    display: inline-block;
}

