.content-container{
    height: fit-content;
    clear: both;
}
.userRecipes{
    width: fit-content;
    margin: 0;
    
}
header{
    float: left;
    width: fit-content;
    margin: 0;
}
.form-group{
    float: right;
}
.recipes-list{
    height: fit-content;
    /* border: 1px solid black; */
}
 .recipeLabel{
     border: 1px solid black;
    
 }

 ul{
     border: 1px solid black;
 }

 
 #pTitle{
     margin-top: 1rem;
     border: 1px solid red
 }

